<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="e-strix Kamil Mucik">
    <META HTTP-EQUIV="Access-Control-Allow-Origin" CONTENT="http://evbwebapi1.bp.com.pl">

    <title>Synchronizacja sklepów 3</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">

    <!--/*/ <th:block th:include="fragments/navbar :: navbar"></th:block> /*/-->

    <!-- Main Sidebar Container -->
    <!--/*/ <th:block th:include="fragments/leftmenu :: leftmenu"></th:block> /*/-->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Synchronizacja Sklepów 3</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#" th:href="@{/}">Home</a></li>
                            <li class="breadcrumb-item active">Synchronizacja Sklepów 3</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <!-- Info boxes -->
                <div class="row">
                    <h2>PROD</h2>
                </div>




                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>

    <footer class="main-footer">
        <div class="float-right d-none d-sm-block">
            <b>Version</b> [[${appversion}]]
        </div>
        &nbsp;
    </footer>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
<script>

    function showVersion(url,divid)
    {

 $.ajax({
            //headers: { "Access-Control-Allow-Origin": "http://localhost:8088"},
            crossDomain: true,
            type: 'GET',
            url: 'http://evbwebapi2.bp.com.pl:8080/smbm-services/private/healthcheck',
            beforeSend: function(xhr){
                xhr.withCredentials = true;
          },
            success: function(data, textStatus, request){
                alert('success!');
                console.log(data);
            },
            dataFilter: function(data, request){
                console.log("dataFilter" ,data);
            },
            error: function(jqXHR, textStatus, errorThrown) {
<!--                alert('Error occurred: '+ jqXHR.statusText + ' ' + jqXHR.status);-->
               //alert(JSON.stringify(jqXHR));
<!--               console.log(JSON.stringify(jqXHR));-->
                //console.log(data);
               // console.log(status);
                alert('Failed!');
            }
            }).done(function(data) {
                alert('done!');
                console.log(data);
            });


<!--        $.getJSON('http://evbwebapi2.bp.com.pl:8080/smbm-services/private/healthcheck', function(data, status, xhr) {-->
<!--                if (status == "success"){-->
<!--                //do something with the data-->
<!--                    alert (data);-->
<!--                }else if (status == "timeout"){-->
<!--                    alert("Something is wrong with the connection");-->
<!--                }else if (status == "error" || status == "parsererror" ){-->
<!--                    alert("An error occured");-->
<!--                }else{-->
<!--                    alert("datatosend did not change");-->
<!--                }-->

<!--            $('#display').html('<p> system: ' + enviroment.data.healthChecks[0].system + '</p>');-->
<!--            $('#display').append('<p>version : ' + enviroment.data.healthChecks[0].version + '</p>');-->
<!--            $('#display').append('<p> system: ' + enviroment.data.healthChecks[1].system + '</p>');-->
<!--            $('#display').append('<p> version: ' + enviroment.data.healthChecks[1].version + '</p>');-->

<!--        })-->
<!--        .done(function() { console.log('getJSON request succeeded!'); })-->
<!--        .fail(function(jqXHR, textStatus, errorThrown) {-->
<!--            console.log('getJSON request failed! ' + textStatus, errorThrown);-->
<!--            console.log('getJSON request failed! ' + textStatus, jqXHR);-->
<!--            })-->
<!--        .always(function() { console.log('getJSON request ended!'); });-->

    }

</script>
</body>
</html>
