<!DOCTYPE html>
<html>
<head lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="e-strix Kamil Mucik">
    <META HTTP-EQUIV="Access-Control-Allow-Origin" CONTENT="http://evbwebapi1.bp.com.pl">

    <title>Synchronizacja sklepów 3</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">

    <!--/*/ <th:block th:include="fragments/navbar :: navbar"></th:block> /*/-->

    <!-- Main Sidebar Container -->
    <!--/*/ <th:block th:include="fragments/leftmenu :: leftmenu"></th:block> /*/-->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Wersje Envelo</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#" th:href="@{/}">Home</a></li>
                            <li class="breadcrumb-item active">Wersje Envelo</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <!-- Info boxes -->
                <div class="row">
                    <h2>PROD</h2>
                </div>

                <div class="row">
                    <!-- ./col -->
                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box bg-success">
                            <div class="inner">
                                <h3>QA<sup style="font-size: 20px">1</sup></h3>

                                <p>Frontend: 1.2</p>
                                <p>Web-api: 2.1.3.4</p>
                                <p>Utils: 2.1.3.4</p>
                            </div>
                            <div class="icon">
                                <i class="fas fa-thumbs-up"></i>
                            </div>
                            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box bg-danger">
                            <div class="inner">
                                <h3>QA<sup style="font-size: 20px">2</sup></h3>

                                <p>Frontend: 1.2</p>
                                <p>Web-api: 2.1.3.4</p>
                                <p>Utils: 2.1.3.4</p>
                            </div>
                            <div class="icon">

                                <i class="fas fa-thumbs-down"></i>
                            </div>
                            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <!-- ./col -->
                </div>

                <div class="row">

                    <h2>QA</h2>
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Produkcja</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <!-- Example row of columns -->
                                <div class="row">
                                    <div class="col-md-3">
                                        <h4 class="h4">Node1</h4>
                                        <div id = "display1" style = "background-color:#39B54A;"></div>
                                        <div id="table-palce-dev-1">
                                        </div>
                                        <a class="btn btn-secondary" href="#" onClick="showVersion('evbwebapidev.dev.bp.com.pl:8080','table-palce-dev-1');" role="button">
                                            <img class="img-responsive center-block" style="width: 32px;" src="vendor/refresh-icon.png" alt="Odśwież" >
                                        </a>
                                        <a class="btn btn-secondary" target="_blank" href="http://evbwebapi1.bp.com.pl:8080/smbm-services/private/healthcheck" role="button">Szczegóły &raquo;</a></p>
                                    </div>
                                    <div class="col-md-3">
                                        <h4 class="h4">Node2</h4>
                                        <div id = "display2" style = "background-color:#39B54A;"></div>
                                        <div id="table-palce-dev-2">
                                        </div>
                                        <a class="btn btn-secondary" href="#" onClick="showVersion('evbwebapidev.dev.bp.com.pl:8080','table-palce-dev-1');" role="button">
                                            <img class="img-responsive center-block" style="width: 32px;" src="vendor/refresh-icon.png" alt="Odśwież" >
                                        </a>
                                        <a class="btn btn-secondary" target="_blank" href="http://evbwebapi1.bp.com.pl:8080/smbm-services/private/healthcheck" role="button">Szczegóły &raquo;</a></p>
                                    </div>
                                    <div class="col-md-3">
                                        <h4 class="h4">Node3</h4>
                                        <div id = "display3" style = "background-color:#39B54A;"></div>
                                        <div id="table-palce-dev-3">
                                        </div>
                                        <a class="btn btn-secondary" href="#" onClick="showVersion('evbwebapidev.dev.bp.com.pl:8080','table-palce-dev-1');" role="button">
                                            <img class="img-responsive center-block" style="width: 32px;" src="vendor/refresh-icon.png" alt="Odśwież" >
                                        </a>
                                        <a class="btn btn-secondary" target="_blank" href="http://evbwebapi1.bp.com.pl:8080/smbm-services/private/healthcheck" role="button">Szczegóły &raquo;</a></p>
                                    </div>
                                    <div class="col-md-3">
                                        <h4 class="h4">Node4</h4>
                                        <div id = "display4" style = "background-color:#39B54A;"></div>
                                        <div id="table-palce-dev-4">
                                        </div>
                                        <a class="btn btn-secondary" href="#" onClick="showVersion('evbwebapidev.dev.bp.com.pl:8080','table-palce-dev-1');" role="button">
                                            <img class="img-responsive center-block" style="width: 32px;" src="vendor/refresh-icon.png" alt="Odśwież" >
                                        </a>
                                        <a class="btn btn-secondary" target="_blank" href="http://evbwebapi1.bp.com.pl:8080/smbm-services/private/healthcheck" role="button">Szczegóły &raquo;</a></p>
                                    </div>


                                </div>


                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">QA</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <!-- Example row of columns -->
                                <div class="row">
                                    <div class="col-md-3">
                                        <h4 class="h4">Node1</h4>
                                        <div id = "display_qa_1" style = "background-color:#39B54A;"></div>
                                        <div id="table-palce-qa-1">
                                        </div>
                                        <a class="btn btn-secondary" href="#" onClick="showVersion('evbwebapidev.dev.bp.com.pl:8080','table-palce-dev-1');" role="button">
                                            <img class="img-responsive center-block" style="width: 32px;" src="vendor/refresh-icon.png" alt="Odśwież" >
                                        </a>
                                        <a class="btn btn-secondary" target="_blank" href="http://evbwebapi1.bp.com.pl:8080/smbm-services/private/healthcheck" role="button">Szczegóły &raquo;</a></p>
                                    </div>
                                    <div class="col-md-3">
                                        <h4 class="h4">Node2</h4>
                                        <div id = "display_qa_2" style = "background-color:#39B54A;"></div>
                                        <div id="table-palce-qa-2">
                                        </div>
                                        <a class="btn btn-secondary" href="#" onClick="showVersion('evbwebapidev.dev.bp.com.pl:8080','table-palce-dev-1');" role="button">
                                            <img class="img-responsive center-block" style="width: 32px;" src="vendor/refresh-icon.png" alt="Odśwież" >
                                        </a>
                                        <a class="btn btn-secondary" target="_blank" href="http://evbwebapi1.bp.com.pl:8080/smbm-services/private/healthcheck" role="button">Szczegóły &raquo;</a></p>
                                    </div>


                                </div>


                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->


                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>

    <footer class="main-footer">
        <div class="float-right d-none d-sm-block">
            <b>Version</b> [[${appversion}]]
        </div>
        &nbsp;
    </footer>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
<script>

    function showVersion(url,divid)
    {

 $.ajax({
            //headers: { "Access-Control-Allow-Origin": "http://localhost:8088"},
            crossDomain: true,
            type: 'GET',
            url: 'http://evbwebapi2.bp.com.pl:8080/smbm-services/private/healthcheck',
            beforeSend: function(xhr){
                xhr.withCredentials = true;
          },
            success: function(data, textStatus, request){
                alert('success!');
                console.log(data);
            },
            dataFilter: function(data, request){
                console.log("dataFilter" ,data);
            },
            error: function(jqXHR, textStatus, errorThrown) {
<!--                alert('Error occurred: '+ jqXHR.statusText + ' ' + jqXHR.status);-->
               //alert(JSON.stringify(jqXHR));
<!--               console.log(JSON.stringify(jqXHR));-->
                //console.log(data);
               // console.log(status);
                alert('Failed!');
            }
            }).done(function(data) {
                alert('done!');
                console.log(data);
            });


<!--        $.getJSON('http://evbwebapi2.bp.com.pl:8080/smbm-services/private/healthcheck', function(data, status, xhr) {-->
<!--                if (status == "success"){-->
<!--                //do something with the data-->
<!--                    alert (data);-->
<!--                }else if (status == "timeout"){-->
<!--                    alert("Something is wrong with the connection");-->
<!--                }else if (status == "error" || status == "parsererror" ){-->
<!--                    alert("An error occured");-->
<!--                }else{-->
<!--                    alert("datatosend did not change");-->
<!--                }-->

<!--            $('#display').html('<p> system: ' + enviroment.data.healthChecks[0].system + '</p>');-->
<!--            $('#display').append('<p>version : ' + enviroment.data.healthChecks[0].version + '</p>');-->
<!--            $('#display').append('<p> system: ' + enviroment.data.healthChecks[1].system + '</p>');-->
<!--            $('#display').append('<p> version: ' + enviroment.data.healthChecks[1].version + '</p>');-->

<!--        })-->
<!--        .done(function() { console.log('getJSON request succeeded!'); })-->
<!--        .fail(function(jqXHR, textStatus, errorThrown) {-->
<!--            console.log('getJSON request failed! ' + textStatus, errorThrown);-->
<!--            console.log('getJSON request failed! ' + textStatus, jqXHR);-->
<!--            })-->
<!--        .always(function() { console.log('getJSON request ended!'); });-->

    }

</script>
</body>
</html>
