<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="e-strix Kamil Mucik">

    <title>Synchronizacja sklepów 3</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">

    <!--/*/ <th:block th:include="fragments/navbar :: navbar"></th:block> /*/-->

    <!-- Main Sidebar Container -->
    <!--/*/ <th:block th:include="fragments/leftmenu :: leftmenu"></th:block> /*/-->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>DataTables</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#" th:href="@{/}">Home</a></li>
                            <li class="breadcrumb-item active">DataTables</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <!-- /.row -->
                <div class="row">
                    <!-- left column -->
                    <div class="col-md-12">
                        <!-- jquery validation -->
                        <div class="card card-info">
                            <div class="card-header">
                                <h3 class="card-title">Quick Example <small>jQuery Validation</small></h3>
                            </div>
                            <!-- /.card-header -->
                            <!-- form start -->
                            <form class="form-horizontal" th:object="${versionDto}" th:action="@{/platform/add}" method="post">
                                <input type="hidden" th:field="*{id}"/>
                                <input type="hidden" th:field="*{platform}"/>
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="number">Numer</label>
                                        <input type="text" name="number" class="form-control " id="number" placeholder="v1.0.0" aria-describedby="number-error" aria-invalid="true" th:classappend="${#fields.hasErrors('number')} ? 'is-invalid' : ''" th:field="*{number}">
                                        <span id="number-error" class="error invalid-feedback" th:errors="*{number}">Error</span>
                                    </div>
                                    <div class="form-group">
                                        <label for="enviroment">Środowisko</label>
                                        <input type="text" name="enviroment" class="form-control " id="enviroment" placeholder="DEV" aria-describedby="enviroment-error" aria-invalid="true" th:classappend="${#fields.hasErrors('enviroment')} ? 'is-invalid' : ''" th:field="*{enviroment}">
                                        <span id="enviroment-error" class="error invalid-feedback" th:errors="*{enviroment}">Error</span>
                                    </div>
                                    <div class="form-group">
                                        <label for="date">Data</label>
                                        <input type="text" name="date" class="form-control " id="date" placeholder="DEV" aria-describedby="date-error" aria-invalid="true" disabled="" th:field="*{date}">

                                    </div>
                                    <div class="form-group">
                                        <label for="installer">Osoba wdrażająca</label>
                                        <input type="text" name="installer" class="form-control " id="installer" placeholder="" aria-describedby="installer-error" aria-invalid="true" th:classappend="${#fields.hasErrors('installer')} ? 'is-invalid' : ''" th:field="*{installer}">
                                        <span id="installer-error" class="error invalid-feedback" th:errors="*{installer}">Error</span>
                                    </div>
                                    <div class="form-group">
                                        <label for="description">Opis</label>
                                        <textarea class="form-control" rows="3" placeholder="Enter ..." id="description"  name="description" th:classappend="${#fields.hasErrors('description')} ? 'is-invalid' : ''" th:field="*{description}"></textarea>
                                        <span id="description-error" class="error invalid-feedback" th:errors="*{description}">Error</span>
                                    </div>
                                </div>
                                <!-- /.card-body -->
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary">Zapisz</button>
                                </div>
                            </form>
                        </div>
                        <!-- /.card -->
                    </div>
                    <!--/.col (left) -->
                    <!-- right column -->
                    <div class="col-md-6">

                    </div>
                    <!--/.col (right) -->
                </div>
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>

    <footer class="main-footer">
        <div class="float-right d-none d-sm-block">
            <b>Version</b> [[${appversion}]]
        </div>
        &nbsp;
    </footer>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

</body>
</html>