<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="e-strix Kamil Mucik">

    <title>Synchronizacja sklepów 3</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">

    <!--/*/ <th:block th:include="fragments/navbar :: navbar"></th:block> /*/-->

    <!-- Main Sidebar Container -->
    <!--/*/ <th:block th:include="fragments/leftmenu :: leftmenu"></th:block> /*/-->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#" th:href="@{/}">Home</a></li>
                            <li class="breadcrumb-item"><a href="#" th:href="@{/setting}">Ustawienia</a></li>
                            <li class="breadcrumb-item active">Edycja</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <!-- /.row -->
                <div class="row">
                    <!-- left column -->
                    <div class="col-md-12">
                        <!-- jquery validation -->
                        <div class="card card-info">
                            <div class="card-header">
                                <h3 class="card-title">Ustawienie <small>: edycja</small></h3>
                            </div>
                            <!-- /.card-header -->
                            <!-- form start -->
                            <form class="form-horizontal" th:object="${settingDto}" th:action="@{/setting/save}" method="post">
                                <input type="hidden" th:field="*{id}"/>
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="name">name</label>
                                        <input type="text" name="name" disabled="disabled" class="form-control " id="name" placeholder="name" aria-describedby="name-error" aria-invalid="true" th:classappend="${#fields.hasErrors('name')} ? 'is-invalid' : ''" th:field="*{name}">
                                        <span id="name-error" class="error invalid-feedback" th:errors="*{name}">Error</span>
                                    </div>
                                    <div class="form-group">
                                        <label for="value">value</label>
                                        <input type="text" name="value" class="form-control " id="value" placeholder="value" aria-describedby="value-error" aria-invalid="true" th:classappend="${#fields.hasErrors('value')} ? 'is-invalid' : ''" th:field="*{value}">
                                        <span id="value-error" class="error invalid-feedback" th:errors="*{value}">Error</span>
                                    </div>
                                    <div class="form-group">
                                        <label for="code">code</label>
                                        <input type="text" name="code" disabled="disabled"  class="form-control " id="code" placeholder="code" aria-describedby="code-error" aria-invalid="true" th:classappend="${#fields.hasErrors('code')} ? 'is-invalid' : ''" th:field="*{code}">
                                        <span id="code-error" class="error invalid-feedback" th:errors="*{code}">Error</span>
                                    </div>

                                </div>
                                <!-- /.card-body -->
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary">Zapisz</button>
                                </div>
                            </form>
                        </div>
                        <!-- /.card -->
                    </div>
                    <!--/.col (left) -->
                    <!-- right column -->
                    <div class="col-md-6">

                    </div>
                    <!--/.col (right) -->
                </div>
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>

    <footer class="main-footer">
        <div class="float-right d-none d-sm-block">
            <b>Version</b> [[${appversion}]]
        </div>
        &nbsp;
    </footer>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

</body>
</html>